<button id="popover_example" type="button" class="btn btn-lg btn-danger" data-toggle="popover">Popover</button>

<script>
    $('#popover_example').popover({url: '/deckster/card/cupcakes_summary', params: {layout: false, a:1, b:2}, title: "Title!", popoverId: '#popover_example'});
</script>